<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programar Partidos</title>

    <link rel="stylesheet" href="global.css">
</head>

<body>
    <header class="header">
        <h2 class="header-title">TorNet</h2>

        <div class="top-right-buttons">
            <a href="editTorneo.html" class="nav-btn">
                <i class="fas fa-arrow-left me-2"></i> Volver
            </a>
        </div>
    </header>

    <main class="admin-container programar-container">

        <h1 class="admin-title" style="text-align:center;">
            Programar Partidos
        </h1>

        <p class="programar-subtitulo">¿Qué deseas hacer?</p>

        <div class="botones-programar">
            <button type="submit" class="btn-publish" id="btn-guardar">
                <i class="fas fa-save me-2"></i>Crear partido
            </button>
            <button type="submit" class="btn-publish" id="btn-guardar">
                <i class="fas fa-save me-2"></i>Tabla de partidos
            </button>
        </div>

    </main>

    <footer class="footer">
        <div class="footer-content">
            <p class="footer-logo">TorNet</p>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/a2e860f5c3.js" crossorigin="anonymous"></script>

</body>
</html>
